@model webapp.Pages.AdminModel

<div>

    <form method="post" asp-page-handler="ShowAddDegree"><button class="btn btn-primary mb-3">Dodaj stopień</button></form>
    <form method="post" asp-page-handler="ShowDegrees">
        <select class="form-select mb-3" name="SelectedDepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.SelectedDepartmentId))" onchange="this.form.submit()">
            <option value="">Wszystkie wydziały</option>
        </select>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Wydział</th>
            <th>Zarządzający</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.SelectedDepartmentId != null) {
            foreach (var degree in Model.Degrees.Where(d => d.DepartmentId == Model.SelectedDepartmentId).ToList())
            {
                <tr>
                    <td>@degree.Name</td>
                    <td>@Model.Departments.FirstOrDefault(d => d.Id == degree.DepartmentId)?.Name</td>
                    <td>
                    @if (degree.ManagerId != -1)
                    {
                        var manager = Model.AllDegrees.FirstOrDefault(u => u.Id == degree.ManagerId);
                        if(manager != null) {
                            <span>@Model.AllDegrees.First(y => y.Id == manager.Id).Name - @Model.Departments.FirstOrDefault(x => x.Id == Model.AllDegrees.First(y => y.Id == manager.Id).DepartmentId)?.Name</span>
                        }
                        else
                        {
                            <span>Brak zarządzającego</span>
                        }
                    }
                    else
                    {
                        <span>Brak zarządzającego</span>
                    }
                    <td>
                        <div class="d-flex">
                            <form asp-page-handler="ShowEditDegree" asp-route-id="@degree.Id"><button class="btn btn-primary btn-sm m-sm-1" onclick="this.form.submit()">Edytuj</button></form>
                            <form asp-page-handler="DeleteDegree" asp-route-id="@degree.Id"><button class="btn btn-danger btn-sm m-sm-1" onclick="this.form.submit()">Usuń</button></form>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            foreach (var degree in Model.Degrees)
            {
                <tr>
                    <td>@degree.Name</td>
                    <td>@Model.Departments.FirstOrDefault(d => d.Id == degree.DepartmentId)?.Name</td>
                    <td>
                    @if (degree.ManagerId != -1)
                    {
                        var manager = Model.AllDegrees.FirstOrDefault(u => u.Id == degree.ManagerId);
                        if (manager != null)
                        {
                            <span>@Model.AllDegrees.First(y => y.Id == manager.Id).Name - @Model.Departments.FirstOrDefault(x => x.Id == Model.AllDegrees.First(y => y.Id == manager.Id).DepartmentId)?.Name</span>
                        }
                        else
                        {
                            <span>Brak zarządzającego</span>
                        }
                    }
                    else
                    {
                        <span>Brak zarządzającego</span>
                    }
                    <td>
                        <div class="d-flex">
                            <form asp-page-handler="ShowEditDegree" asp-route-id="@degree.Id"><button class="btn btn-primary btn-sm m-sm-1" onclick="this.form.submit()">Edytuj</button></form>
                            <form asp-page-handler="DeleteDegree" asp-route-id="@degree.Id"><button class="btn btn-danger btn-sm m-sm-1" onclick="this.form.submit()">Usuń</button></form>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center gap-2 my-2">
        @if (Model.PageNumber > 1)
        {
            <form method="post" asp-page-handler="ShowDegrees" class="m-0">
                <input type="hidden" name="pageNumber" value="@(Model.PageNumber - 1)" />
                @if (Model.SelectedDepartmentId != null)
                {
                    <input type="hidden" name="SelectedDepartmentId" value="@Model.SelectedDepartmentId" />
                }
                <button type="submit" class="btn btn-outline-primary btn-sm px-2">&lt;</button>
            </form>
        }
        <span class="mx-2">@Model.PageNumber</span>
        @if (!Model.isLastPage)
        {
            <form method="post" asp-page-handler="ShowDegrees" class="m-0">
                <input type="hidden" name="pageNumber" value="@(Model.PageNumber + 1)" />
                @if (Model.SelectedDepartmentId != null)
                {
                    <input type="hidden" name="SelectedDepartmentId" value="@Model.SelectedDepartmentId" />
                }
                <button type="submit" class="btn btn-outline-primary btn-sm px-2">&gt;</button>
            </form>
        }
    </div>
</div>
