@model webapp.ViewComponents.UsersViewModel

<div>
    <form method="post" asp-page-handler="ShowUsers">
        <button class="btn btn-primary mb-3" asp-page-handler="AddUser">Dodaj użytkownika</button>
        <select class="form-select mb-3" asp-for="SelectedDepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name", Model.SelectedDepartmentId))" onchange="this.form.submit()">
            <option value="">Wszystkie placówki</option>
        </select>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa użytkownika</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Placówka</th>
                <th>Stopień</th>
                <th>Email</th>
                <th>Administrator</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@Model.Departments.FirstOrDefault(d => d.Id == Model.Degrees.FirstOrDefault(e => e.Id == user.DegreeId)?.DepartmentId)?.Name</td>
                    <td>@Model.Degrees.FirstOrDefault(e => e.Id == user.DegreeId)?.Name</td>
                    <td>@user.Email</td>
                    <td>@user.IsAdmin.ToString()</td>
                    <td>
                        <button class="btn btn-primary btn-sm" asp-page-handler="EditUser" asp-route-id="@user.Id">Edytuj</button>
                        <button class="btn btn-danger btn-sm" asp-page-handler="DeleteUser" asp-route-id="@user.Id">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>