@page
@using webapp.Models
@model webapp.Pages.IODBrowseApplicationsModel
@{
    ViewData["Title"] = "Przeglądaj wnioski pracowników";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Przeglądaj wnioski</h1>
<hr />

<form method="post" asp-page-handler="Filter" class="mb-3">
    <div class="form-group d-flex align-items-center gap-2">
        <label for="SelectedUserId" class="form-label mb-0">Filtruj według użytkownika:</label>
        <select asp-for="SelectedUserId" asp-items="@Model.UsersSelectList" class="form-control w-auto" onchange="this.form.submit()">
            <option value="" >-- Wszyscy użytkownicy --</option>
        </select>
    </div>
</form>

@if (!Model.Applications.Any())
{
    <p>Nie znaleziono wniosków dla zarządzanych użytkowników.</p>
}
else
{
    <div>
        @foreach (var application in Model.Applications)
        {
            var applicant = Model.Users.FirstOrDefault(u => u.Id == application.Messages.First().UserId);
            var degree = applicant != null ? Model.Degrees.FirstOrDefault(d => d.Id == applicant.DegreeId) : null;
            var department = degree != null ? Model.Departments.FirstOrDefault(dep => dep.Id == degree.DepartmentId) : null;
            var action = Model.ActionHistories.OrderBy(d => d.Date).FirstOrDefault(e => e.ApplicationId == application.ApplicationId && e.ActionId == 1);
            var acceptedBy = Model.UsersAll.FirstOrDefault(u => u.Id == action?.UserId);

            
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="mb-0">
                            Wniosek - Data: @application.Messages.Min(m => m.RequestDate).ToString("yyyy-MM-dd")
                        </h5>
                        <p class="mb-0">
                            Wnioskodawca: @applicant?.FirstName @applicant?.LastName @applicant?.Email, Zatwierdzone przez: @acceptedBy?.FirstName @acceptedBy?.LastName @acceptedBy?.Email, Wydział: @department?.Name
                        </p>
                    </div>
                    <div class="d-flex gap-2">
                        @if (application.showApprove)
                        {
                            <form method="post" asp-page-handler="Approve">
                                <input type="hidden" name="applicationId" value="@application.ApplicationId"/>

                                <button class="btn btn-success btn-sm" onclick="this.form.submit()">Oznacz jako sprawdzone</button>
                            
                            </form>
                        }
                        <button class="btn btn-sm btn-link text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@application.ApplicationId" aria-expanded="false" aria-controls="collapse-@application.ApplicationId">
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>
                </div>
                <div id="collapse-@application.ApplicationId" class="collapse">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Typ</th>
                                <th>Nazwa</th>
                                <th>Uprawnienie</th>
                                <th>Data zgłoszenia</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var message in application.Messages)
                            {
                                if (!Model.isRejected(message.Id))
                                {
                                    <tr>
                                            
                                        <td>@(message.DeviceId.HasValue ? "Urządzenie" : "Program")</td>
                                        <td>@(message.DeviceId.HasValue ? Model.GetDeviceName(message.DeviceId.Value) : Model.GetProgramName(message.ProgramId.Value))</td>
                                        <td>@(message.DeviceId.HasValue ? "Nie dotyczy" : Model.GetPermissionName(message.PermissionId ?? 0))</td>
                                        <td>@message.RequestDate.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                        <p>Uwagi do wniosku: @application.messageText</p>
                        @if (application.expirationDate != DateTime.UnixEpoch)
                        {
                            <p>Data wygaśnięcia: @application.expirationDate.ToString("yyyy-MM-dd")</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="d-flex justify-content-center align-items-center gap-2 my-2">
        @if (Model.PageNumber > 1)
        {
            <form method="get" class="m-0">
                <input type="hidden" name="pageNumber" value="@(Model.PageNumber - 1)" />
                <input type="hidden" name="SelectedUserId" value="@Model.SelectedUserId" />
                <button type="submit" class="btn btn-outline-primary btn-sm px-2">&lt;</button>
            </form>
        }
        <span class="mx-2">@Model.PageNumber</span>
        @if (!Model.isLastPage)
        {
            <form method="get" class="m-0">
                <input type="hidden" name="pageNumber" value="@(Model.PageNumber + 1)" />
                <input type="hidden" name="SelectedUserId" value="@Model.SelectedUserId" />
                <button type="submit" class="btn btn-outline-primary btn-sm px-2">&gt;</button>
            </form>
        }
    </div>
}